{% trans_default_domain 'FOSUserBundle' %}

<div class="row">
    <div class="col-md-12">
        <div class="contact-title-form">
            <div class="contact-title text-center">
                <h3>Register Form</h3>
            </div>
            <div class="leave-form">
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
                <div class="col-md-12 text-center">
                    <button id="_submit" name="_submit" class="submit" type="submit">
                        {{ 'registration.submit'|trans }}
                    </button>
                </div>
{{ form_end(form) }}
            </div>

        </div>
        <p>You have an account ?</p>
        <a href="{{ path('fos_user_security_login') }}">Login</a>
    </div>
</div>