{% extends 'adminbase.html.twig' %}

{% block stylesheets %}
    <!-- DataTables -->
    <link rel="stylesheet" href="{{ asset('backoffice/plugins/datatables-bs4/css/dataTables.bootstrap4.css') }}">
{% endblock %}

{% block body %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Foundation-Category List</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="{{ path('adminhomepage') }}">Home</a></li>
                            <li class="breadcrumb-item active">Foundation-Category</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <!-- left column -->
                    <div class="col-md-12">
                        <!-- general form elements -->
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">Foundation-Categories</h3>
                            </div>
                            <div class="card-body">
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th>Category</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for souscategory in fCategories %}
                                        <tr>
                                            <td>{{ souscategory.type}}</td>
                                            <td>
                                                <a href="{{ path('fondations_category_edit',{'id':souscategory.id}) }}" class="btn btn-warning">Edit</a>
                                                <a href="{{ path('fondations_category_delete',{'id':souscategory.id}) }}" class="btn btn-danger">Delete</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th>Category</th>
                                        <th>Actions</th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="card-footer">
                                <a href="{{ path('fondations_category_new') }}" class="btn btn-primary">Add</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block javascripts %}
    <!-- DataTables -->
    <script src="{{ asset('backoffice/plugins/datatables/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('backoffice/plugins/datatables-bs4/js/dataTables.bootstrap4.js') }}"></script>
    <script>
        $(function () {
            $("#example1").DataTable();
        });
    </script>
{% endblock %}