{% extends 'base.html.twig' %}

{% block stylesheets %}
    <!-- DataTables -->
    <link rel="stylesheet" href="{{ asset('backoffice/plugins/datatables-bs4/css/dataTables.bootstrap4.css') }}">
{% endblock %}

{% block body %}

    <div class="breadcrumb-area pt-240 pb-125" style="background-image:url({{ asset('assets/img/bg/breadcrumb.jpg') }});" data-overlay="5">
        <div class="container">
            <div class="breadcrumb-text text-center z-index">
                <h2>event details</h2>
            </div>
        </div>
    </div>

    <!-- breadcrumb end -->
    <!-- event area start -->
    <div class="event-all-area ptb-100">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="event-left-sidebar">
                        <img src="{{ vich_uploader_asset(event, 'imageFile') }}" alt="">
                        <div class="event-text">
                            <h3>{{event.noun}}</h3>
                            <span>{{event.date | date}} </span>
                            {% if isparticipated == true %}
                            <a href="{{ path('participate',{'id':event.id}) }}" class="btn btn-danger">Cancel participation</a>
                            {% else %}
                            <a href="{{ path('participate',{'id':event.id}) }}" class="btn btn-success">Participate</a>
                            {% endif %}
                            <p>{{ event.description }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="event-map-info">
                        <div class="event-map">
                            <div id="hastech"></div>
                        </div>
                        <div class="eventpage-info">
                            <div class="single-event-info">
                                <h4>Paricipation number:</h4>
                                <p>{{ nbr }}</p>
                            </div>
                            <div class="single-event-info">
                                <h4>Event Details</h4>
                                <ul>
                                    <li><span>Date :</span> 03 / 07 / 2017 </li>
                                    <li><span>Phone :</span> +88012745839</li>
                                    <li><span>Website :</span> <a href="#">trust.com</a></li>
                                    <li><span>Time :</span> 03.00 pm to 06.00 pm</li>
                                </ul>
                            </div>
                            <div class="single-event-info">
                                <h4>Organizer</h4>
                                <ul>
                                    <li><span>Name :</span> Trust</li>
                                    <li><span>Phone :</span> +8801143456870</li>
                                    <li><span>Website :</span> <a href="#">trustorg.com</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <!-- DataTables -->
    <script src="{{ asset('backoffice/plugins/datatables/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('backoffice/plugins/datatables-bs4/js/dataTables.bootstrap4.js') }}"></script>

{% endblock %}